<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.khiladiadda">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Receive notificaton when app is closed -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.phonepe.app" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.whatsapp" />
        <package android:name="com.tb.ka.wordsearch" />
        <package android:name="com.tb.ludouniverse.in" />
        <package android:name="com.KhiladiAdda.CourtPiecePro" />
        <package android:name="org.altruist.BajajExperia" />

    </queries>

    <application
        android:name=".KhiladiAddaApp"
        android:allowBackup="false"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/splash_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:node="merge"
        tools:replace="android:allowBackup, android:theme,android:icon">
        <activity
            android:name=".rummy.RummyLogsWebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rummy.RummyHelpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rummy.RummyHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rummy.RummyGameWebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ludoUniverse.ModeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rummy.RummyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".callbreak.CallBreakActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ludoTournament.activity.LudoTmtAllRoundActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gamercash.PayActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gamercash.NotInstalledActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gamercash.InstallActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gamercash.VerifiedActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gamercash.GamerCashActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ludoTournament.activity.LudoTmtTounamentActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ludoTournament.activity.LudoTmtFullRulesActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ludoTournament.activity.LudoTmtRulesActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ludoTournament.activity.LudoTmtDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LudoTmtAppearance">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="khiladiadda.onelink.me"
                    android:pathPrefix="/g37F"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.FavouriteActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.all.AllQuizListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.WebPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".scratchcard.ScratchCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".registration.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".otp.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".terms.TermsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.facts.FactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.StatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fcm.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".rewards.RewardsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".leaderboard.NewLeaderboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".referhistory.ReferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".referhistory.InviteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.result.QuizResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.QuizQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.splash.QuizStartSplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.QuizDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.list.QuizListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".transaction.TransactionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".withdrawcoins.NewWithdrawActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.update.UpdateProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.update.PanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".myfacts.MyFacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".rule.QuizRuleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.LeagueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".help.HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.WalletCashbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.ActivityPayBP"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".quiz.result.PrizeBreakthroughActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.myleague.MyLeagueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.details.LeagueDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.participant.ParticipantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.team.TeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".leaderboard.past.PastLeaderboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fcm.NotificationHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludo.result.LudoResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludo.LudoChallengeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludo.MyAllChallengesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".socialverify.SocialVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".clashroyale.ClashRoyaleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".utility.ImageActivity" />
        <activity
            android:name=".ludo.unplayed.LudoErrorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".help.HelpDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".leaderboard.myleague.MyLeagueLeaderboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludo.luodhelp.LudoHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludo.buddy.BuddyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".league.leaguehelp.LeagueHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".referhistory.ReferHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".withdrawcoins.ManualWithdrawActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fanbattle.FanBattleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.BattleGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.BattleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fanleague.MyFanLeagueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.PlayerPointsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.BattlePointsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.BattleHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".transaction.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".battle.SelectGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".playerStats.PlayerProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".utility.AllHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.update.AadharActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.update.AadharManualActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludoUniverse.LudoUniverseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ludoUniverse.MyLudoUniverseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wordsearch.activity.FinalLeaderBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchRulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchLeaderBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchQuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchPrizeBreakthroughActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchCategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordsearch.activity.WordSearchCategoryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.GameDroidoHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.GamesLeaderBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.RulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.TournamenetDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.NewDroidoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.GamesFinalResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.GameWebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameleague.ParticipantsGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".depositelimit.DepositLimitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".depositelimit.DepositKnowMoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- ClashX2.0 -->
        <activity
            android:name=".clashx2.football.activity.FootballBattleScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".clashx2.football.activity.FootballSeletedActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".clashx2.football.createbattle.FootballPlayerStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.KabaadiPlayerStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.kabaddi.createbattle.KabaddiCreateTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.football.createbattle.FootballCreateTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.kabaddi.activity.KabaddiPointActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.kabaddi.activity.KabaddiSelectedPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.kabaddi.activity.KabaadiBattlesScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.ClashXDashBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.cricket.createbattle.CreateTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.BattlesScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.BattlesUpcomingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.HTHBattlesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.MyFanLeagueActivityHTH"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.PlayerStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clashx2.main.activity.SelectedPlayers"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".callbreak.CBHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".callbreak.CBScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="@string/truecaller_partnerKey" />

        <service
            android:name="com.moengage.firebase.MoEFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.khiladiadda.user.network.providers"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>